body {
    height: 95vh;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: darkgreen;
    background-color: #000;
    text-transform: uppercase;
}